@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Englebert&display=swap');

.hero-sec-div{
    display:flex;
    width:100%;
}
.intro-sec{
    display: flex;
    justify-content: center;
    font-family: 'Englebert', sans-serif;
    font-size: 8em;
    line-height: 1em;
    text-align:center;
    margin-right: 0;
    margin-top: 50px;
}

.intro-sec-div{
    height:200px;
    width:70em;

}

.intro-sec2{
    width:20em;
    position:relative;
    right:10em;
    top:18em;
    font-weight: bolder;
    text-transform: capitalize;
    animation: color-animation 4s linear infinite;
    --color-1: hsl(105, 7%, 57%);
    --color-2: #7c917b;
    --color-3: #8fa991;
}

@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }

  .circle-png{
    position: relative;
    z-index: 1;
    bottom: 1em;
    left: 13em;
    height: 20em;
    margin:0;
    padding:0;
    clear:both;
  }