@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Bowlby+One&family=Englebert&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

.portfolio-sec {
    background-color: rgb(0, 0, 0);
    height:50em;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.portfolio-sec {
    display: flex;
    justify-content: center;
    
}

.three,
.heading {
    color: #F6F5F1;
    margin-top: 50px;
    position :absolute;

}

.three {
    font-family: 'Londrina Sketch', cursive;
    font-size: 5em;
    top:13.5em;
    right:13.5em;

}

.heading {
    position: absolute;
    text-transform: uppercase;
    position: absolute;
    right:67.1em;
    top:73em;
    font-weight:bolder

    
}